<!DOCTYPE html>
<html>
    <head>
        <script
            type="text/javascript"
            src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
        ></script>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <meta name="viewport" content="width=device-width" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/halfmoon-variables.css') }}" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='js/vivagraph.js') }}"></script>
        <script src="{{ url_for('static', filename='js/halfmoon.min.js')}}"></script>
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>
        <style type="text/css">

            :root {
                --base-html-font-size-1600: 70%;
                --base-html-font-size-1920: 70%;
            }

            #network {
                width: 100%;
                height: 100%;
            }

            #network svg {
                width: 100%;
                height: 100%;
            }

            svg {
                max-width: 100%;
            }

            .node:hover {
                fill: red;
            }

            .foreground-fill {
                cursor: pointer;
                fill: var(--lm-base-text-color);
            }

            .dark-mode .foreground-fill {
                fill: var(--dm-base-text-color);
            }

            #step-list > li:nth-child(1):before {
                content: "🔗";
            }

            #step-list > li:nth-child(2):before {
                content: "🌐";
            }

            #step-list > li:nth-child(3):before {
                content: "💥";
            }

            #step-list > li:nth-child(4):before {
                content: "🔍";
            }

            #step-list > li {
                list-style-type: none;
            }

            details {
                animation: sweep .5s ease-in-out;
            }

            details[open] summary ~ * {
                animation: sweep .5s ease-in-out;
            }

            @keyframes sweep {
                0%    {opacity: 0; margin-left: -10px}
                100%  {opacity: 1; margin-left: 0px}
            }
        </style>
    </head>
    <body data-dm-shortcut-enabled="true" class="with-custom-webkit-scrollbars with-custom-css-scrollbars">
        <div class="modal modal-full ie-scroll-fix" id="channel-info-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content h-full overflow-auto">
                    <a data-dismiss="modal" class="close" role="button" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    <div id="modal-info" class="container h-full d-flex flex-column align-items-center justify-content-center">
                        <svg viewBox="0 0 500 500"></svg>
                        <div></div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content-wrapper">
                <div class="w-lg-quarter h-lg-three-quarter mw-full position-lg-absolute z-lg-10 content d-flex flex-column">
                    <details class="collapse-panel w-lg-full shadow bg-dark-light bg-light-lm" open>
                        <summary class="collapse-header">Search</summary>
                        <div class="row collapse-content">
                            <input id="search-input" type="text" placeholder="Enter a Youtube link" class="form-control col-8">
                            <button id="search-button" class="btn btn-primary col-3 offset-1">Go!</button>
                        </div>
                    </details>
                    <details class="collapse-panel w-lg-full mt-20 shadow bg-dark-light bg-light-lm">
                        <summary class="collapse-header">Help</summary>
                        <div id="help" class="collapse-content font-size-12">
                            <p>Channelly discovers new channels you might like in four easy steps:</p>
                            <ol id="step-list">
                                <li> Enter a link to a channel or video you like</li>
                                <li> Get channels linked and recommended by it</li>
                                <li> And also channels those new ones recommend</li>
                                <li> Check out details for a channel by clicking on it</li>
                            </ol>
                        </div>
                    </details>
                    <details id="widget-info" class="collapse-panel mt-20" hidden open>
                        <summary class="collapse-header">Details</summary>
                        <div class="collapse-content">
                            <svg viewBox="0 0 500 500"></svg>
                            <div class="statistics"></div>
                        </div>
                    </details>
                </div>
                <div id="network"></div>
            </div>
        </div>
        <script>
            const graphGenerator = Viva.Graph.generator();
            let graph = graphGenerator.grid(3, 3);

            function extractPosition(event) {
                if (event.clientX && event.clientY) {
                    return { x: event.clientX, y: event.clientY };
                }

                const touches = Array.from(event.touches).concat(Array.from(event.changedTouches));
                const [ primary, _ ] = Array.from(touches);
                return { x: primary.pageX, y: primary.pageY };
            }

            class GraphVisualizer {

                constructor(container) {
                    this.container = container;
                    this.renderer = null;
                    this.layout = null;
                    this.graph = null;

                    this.graphics = Viva.Graph.View.svgGraphics();
                    this.graphics.node(node => {
                        const container = Viva.Graph.svg('g');

                        let lastX, lastY;
                        let rendererPaused = false;

                        const startListener = async e => {
                            console.log('start');
                            const pos = extractPosition(e);
                            lastX = pos.x;
                            lastY = pos.y;

                            this.renderer.pause();
                            rendererPaused = true;
                        };

                        const moveListener = () => {
                            console.log('move');
                            if (rendererPaused) {
                                this.renderer.resume();
                                rendererPaused = false;
                            }
                        };

                        const endListener = async e => {
                            const pos = extractPosition(e);

                            if (Math.sqrt((lastX - pos.x)**2 + (lastY - pos.y)**2) == 0) {
                                showChannelInfo(node.id);
                            }
                            setTimeout(() => {
                                this.renderer.resume();
                                rendererPaused = false;
                            });
                        };

                        container.on('touchstart', startListener);
                        container.on('touchmove', moveListener);
                        container.on('touchend', endListener);

                        container.on('mousedown', startListener);
                        container.on('mousemove', moveListener);
                        container.on('mouseup', endListener);

                        container.attr('class', 'foreground-fill')

                        container.append('image')
                            .attr('width', 64)
                            .attr('height', 64)
                            .attr('clip-path', 'url(#avatar-clip)')
                            .link(node.data.image);

                        container.append('text')
                            .attr('transform', 'translate(32 -12)')
                            .attr('text-anchor', 'middle')
                            .text(node.data.label);

                        return container;
                    })
                    .placeNode(function (nodeUI, pos) {
                        nodeUI.attr('transform', `translate(${pos.x - 32}, ${pos.y - 32})`)
                    });

                    const defs = Viva.Graph.svg('defs');

                    defs.append("clipPath")
                        .attr("id", "avatar-clip")
                        .append("circle")
                        .attr("cx", 32)
                        .attr("cy", 32)
                        .attr("r", 32);

                    this.graphics.getSvgRoot().appendChild(defs);

                }

                visualize(graph, centerNode = null) {
                    this.graph = graph;

                    if (this.renderer) {
                        this.renderer.dispose();
                    }

                    if (this.layout) {
                        this.layout.dispose();
                    }

                    this.layout = Viva.Graph.Layout.forceDirected(graph, {
                        springLength: 100,
                        springCoeff: 0.0005,
                        dragCoeff: 0.1,
                        gravity: -100
                    });

                    if (centerNode) {
                        this.layout.pinNode(centerNode, true);
                    }

                    this.renderer = Viva.Graph.View.renderer(graph, { layout: this.layout, container: this.container, graphics: this.graphics });
                    this.renderer.run();
                }

            }

            const graphVisualizer = new GraphVisualizer(document.querySelector('#network'));

            function calcFrequencies(words) {
                freq = {}

                words.forEach(word => {
                    if (freq[word] == null) {
                        freq[word] = 0;
                    }
                    freq[word] += 1;
                });
                
                return freq;
            }

            function createWordCloudLayout(words) {
                return new Promise((resolve, reject) => {
                    const frequencies = calcFrequencies(words);

                    const uniqueWords = Object.keys(frequencies);
                    uniqueWords.sort((a, b) => {
                        if (frequencies[a] < frequencies[b]) {
                            return 1;
                        }
                        if (frequencies[a] > frequencies[b]) {
                            return -1;
                        }
                        return 0;
                    });


                    const relativeSizing = 0.5;

                    let lastFreq = 1;
                    let fontSize = 100;


                    const wordData = [];
                    uniqueWords.forEach(word => {
                        const relativeFreq = frequencies[word] / words.length;

                        fontSize *= relativeSizing * (relativeFreq / lastFreq) + (1 - relativeSizing);
                        fontSize = Math.round(fontSize);

                        const data = {
                            text: word,
                            size: fontSize
                        };

                        wordData.push(data);
                        lastFreq = relativeFreq;
                    });


                    const layout = d3.layout.cloud()
                        .size([500, 500])
                        .words(wordData)
                        .padding(5)
                        .rotate(() => ~~(Math.random() * 2) * 90)
                        .fontSize(d => d.size)
                        .on('end', words => resolve({ words, layout }));

                    layout.start();
                });
            }

            function renderWordCloud(rootSelector, cloud) {
                const { layout, words } = cloud;

                const width = layout.size()[0];
                const height = layout.size()[1];

                d3.select(rootSelector)
                    .attr('width', width)
                    .attr('height', height)
                .selectAll('g')
                .data([null])
                .join('g')
                    .attr('transform', `translate(${width / 2}, ${height / 2})`)
                    .classed('foreground-fill', true)
                .selectAll('text')
                .data(words)
                .join('text')
                    .style('font-size', d => d.size + 'px')
                    .attr('text-anchor', 'middle')
                    .attr('transform', d => `translate(${[d.x, d.y]}) rotate(${d.rotate})`)
                    .text(d => d.text);
            }

            async function extractChannelId(descriptor) {
                const url = '/extract_channel_id?' + new URLSearchParams({
                    descriptor
                });

                const response = await fetch(url);

                return await response.json();
            }

            async function relatedChannelGraph(channelId) {
                const response = await fetch(`/channel_graph/${channelId}`)

                const { nodes, edges } = await response.json();

                const graph = Viva.Graph.graph();

                nodes.forEach(node => graph.addNode(node.id, node.data));
                edges.forEach(edge => graph.addLink(edge.source, edge.target));

                return graph;
            }

            async function analyseChannel(channelId) {
                const response = await fetch(`/analyse_channel/${channelId}`)

                return await response.json();
            }

            async function showChannelInfo(channelId) {
                const infos = await analyseChannel(channelId);

                const query = window.matchMedia('(min-width: 532px)');

                let infoContainerQuery = query.matches ? '#widget-info' : '#modal-info';

                const statistics = document.querySelector(`${infoContainerQuery} .statistics`);
                statistics.innerHTML = '';

                statistics.innerText = `${infos.statistics.subscriber_count} Subscribers | ${infos.statistics.video_count} Videos | ${infos.statistics.view_count} Views`;

                const cloud = await createWordCloudLayout(infos.topics);
                renderWordCloud(`${infoContainerQuery} svg`, cloud);

                console.log(query)
                if (query.matches) {
                    document.querySelector(infoContainerQuery).hidden = false;
                } else {
                    halfmoon.toggleModal('channel-info-modal');
                }
            }

            document.querySelector('#search-button').addEventListener('click', async () => {
                const query = document.querySelector('#search-input').value;

                const channelId = await extractChannelId(query);

                const graph = await relatedChannelGraph(channelId);
                const centerNode = graph.getNode(channelId);

                graphVisualizer.visualize(graph, centerNode);
            });
        </script>
    </body>
</html>